* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.settings-background {

    padding: 1rem 0 1rem 0;
    margin-bottom: 0.5rem;
    background-color: rgb(45, 103, 173);
}

.settings {
    display: flex;
    justify-content: center;
}

.ranges {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 1rem;
    row-gap: 0.2rem;
}

.checkboxes {
    margin: auto 0 auto 1rem;
}

.checkbox {
    display: flex;
}

.checkbox>input[type="checkbox"] {
    margin-right: 1rem;
}

#populationNumber {
    margin: 0.5rem 0;
}

button {
    padding: 0.2rem 1rem;
    margin: 0.2rem;
}

input[type=range] {
    width: 20vw;
}